<div class="card my-3" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">By {{user.username}}</h6>
    <hr />
    <p class="card-text">{{body}}</p>
    <a href="/posts/{{id}}" class="card-link">View</a>
  </div>
</div>