{{>loggedInNavBar}}

<section>
  <h2>Your Posts</h2>
   <div>{{#each posts as |post|}}
     <h3>Title: {{post.title}}</h3>
     <p>Body: {{post.body}}</p>
     {{/each}}</div> 

</section>

{{!-- Need button on each post to say view and redirect to view posts page.  --}}

<button type="submit" class="btn"><a class="link" href="/create-post">Add New Post</a></button>