{{> navBar}}

<div class="position-absolute top-50 start-50 translate-middle text-center w-50">
  <form id="signup-form">
    <div class="mb-3">
      <input
        type="Username"
        class="form-control"
        id="username"
        placeholder="Insert your username here"
      />
    </div>
    <div class="mb-3">
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Password goes here"
      />
    </div>
    <div class="mb-3 d-grid gap-2">
      <button type="submit" class="btn btn-primary mb-3">Sign up</button>
    </div>
  </form>
</div>